ul {
  list-style-type: none;
}

.content {
  float: left;
  margin: 10px;
  background-color: #e5e5e5;
  text-align: center
}

.answer {
  color: green
}

.selected {
  color: red
}

.unselected {
  color: black
}
