@import './reset/basic-reset';

$dark-gray: #595959;
$gray: #e5e5e5;
$dark-green: #327F7A;

@mixin flex-centered {
  display: flex;
  justify-content: center;
}

@mixin pointer {
  &:hover {
    cursor: pointer;
  }
}

body {
  padding: 50px 10px 50px 20px;
  padding-right: 10px;
  overflow-x: hidden;
  font-family: 'Rosario', Arial;
}

ul {
  list-style-type: none;
}

#header{
  text-align: center;
  text-shadow: 1px 1px gray;
  font-family: 'Lato', sans-serif;
  margin-top: -40px;

  h1 {
    font-size: 36px;
  }

  #greeting {
    text-align: left;
    text-shadow: none;
  }

}

.selected {
  font-weight: bold;
}

.unselected {
  color: black;
}

#menu {
  @include flex-centered;
  flex-flow: row wrap;
  padding: 5px;

  button {
    margin: 8px;
    margin-bottom: 3px;
    padding: 6px;
    background-color: #F3F3F3;
    border-radius: 5px;
    font-size: 18px;

    a {
      text-decoration: none;
      color: $dark-gray;

      &:hover {
        color: black;
      }
    }
    &:hover {
      background-color: white;
    }
  }
}

#spinningEarth {
    margin-top: 20px;
    @include flex-centered;
}

.switch {

  margin-bottom: 10px;
  span {
    margin-right: 14px;
    font-size: 12px;
  }
}

.sidebar {

  li {
    margin: 10px;
    @include pointer;
  }

  .selected {
    font-size: larger;
    text-decoration: underline;
  }
}

#flashcard {
  @include flex-centered;
  flex-flow: row;

  .flashcardsContainer {
    width: 100vw;
    margin-left: 20px;
    background-color: $gray;
    padding-left: 14px;
  
    .flashcardContent {
      float: left;
      margin: 10px;
      margin-bottom: 40px;
      background-color: #F4F4F4;
      border: 1px solid $dark-gray;
      text-align: center;
      width: 220px;
      height: 200px;
      padding: 6px;
      border-radius: 4px;

      span {
        font-size: 24px;
        opacity: .3;
        @include pointer;
      }
    }
  }

  .flag {
    @include pointer;
  }
}

#quiz {

  @include flex-centered;
  
  .sidebar {
    margin-top: 20px;
    font-size: 20px;
    width: 30vw;

    ul {
      @include flex-centered;
      flex-flow: row wrap;

      li {
        border: 1px solid $dark-gray;
        border-radius: 3px;
        background-color: $dark-green;
        color: white;
        padding: 5px;
        padding-top: 44px;
        width: 120px;
        height: 120px;
        text-align: center;
      }
    }
  
    .selected {
      text-decoration: none;
      font-size: inherit;
      background-color: white;
      color: black;
      border: 2px solid $dark-gray;
      font-weight: normal;

    }
  }

  #startQuiz {
    text-align: center;

    button {
      padding: 4px;
      background-color: white;
      @include pointer;
    }
  }

  .flag {
    margin-top: 20px;
    background-color: #F9F9F9;
    padding: 10px;
    border: 1px solid $dark-gray;
    border-radius: 3px;
  }

  #multipleChoice {
    margin-top: 12px;
    text-align: center;
    font-size: 20px;

    button {
      margin-top: 20px;
      padding: 4px;
      background-color: white;
      @include pointer;
    }

    li {
      @include pointer;
      margin: 4px;

      span {
        padding: 6px;
      }
    }

    .selected {
      border-radius: 3px;
      background-color: $dark-green;
      color: white;
      font-weight: normal;

    }
  }

  .message {
    font-size: 16px;
    margin-top: 10px;
  }

}

.results {
  text-align: center;
}

#noRecord {
  margin-top: 10px;
  @include flex-centered;
}

#records {
  display: flex;
  margin-top: 12px;
  @include flex-centered;
  text-align: center;
  

  div:nth-of-type(1) {
    background-color:$dark-green;
    color: white;
    width: 10vw;
    padding-top: 6px;
    font-size: 48px;
    margin: 4px 0;
    box-shadow: 6px 6px 10px $gray;
  }
  div:nth-of-type(2) {
    background-color: white;
    font-size: 20px;
    width: 20vw;
    padding: 4px;
    margin: 4px 0;
    border: 1px solid $dark-green;
    box-shadow: 6px 6px 10px $gray;
  }
}

.answer {
  border-radius: 3px;
  background-color: red;
  color: white;
  font-weight: inherit;
}



.hide {
  display: none;
}

.show {
  display: block;
}
