@import './reset/basic-reset';

body {
    padding: 30px;
}

ul {
  list-style-type: none;
}

.menu {
  button {
    margin: 8px;
    padding: 5px;
  }
}

.flashcardsContainer {
  width: 100vw;

  .flashcard {
    float: left;
    margin: 10px;
    margin-bottom: 50px;
    background-color: #e5e5e5;
    text-align: center;
    width: 220px;
    height: 180px;
    padding-top: 14px;
    border-radius: 4px;
  }

  .flag {
      margin-bottom: 6px;
    //   background-color: red;
  }
}

.answer {
  color: green;
}

.selected {
  color: blue;
}

.unselected {
  color: black;
}

.hide {
  display: none;
}

.show {
  display: block;
}
